<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layout/head.ejs') %>

</head>
<body>
  <%- include('./layout/header.ejs') %>


 <div class="teamMember">
    
    <img src="/profilepics/alex-pena.jpeg" id = "aboutPhoto">
    <h2 id = "aboutName">Alex Pena</h2>
    <p id = "aboutPage">I'm Alex, a full stack web developer at Code Fellows. I am also a Navy veteran and entreprenuer. Since leaving the Navy in 2011 I have owned and sold a handful of small businesses. I loved working with everyine on this project and Im looking forward to where this new journey as a software developer will take me.</p>
</div>

<div class="teamMember">
  <img src="/profilepics/alexpedersen.png" id = "aboutPhoto">
  <h2 id ="aboutName">Alex Pedersen</h2>
  <p id = "aboutPage">Full stack JavaScript engineer who loves to build new things and collaboratively solve complex problems. I have a background of culinary and love to cook. Working on this project has been loads of fun and I cannot wait to see what else the coding world has in store for me and my team! </p>
</div>

<div class="teamMember">
  <img src="/profilepics/jesse.png" id = "aboutPhoto">
  <h2 id = "aboutName">Jesse Pena</h2>
  <p id = "aboutPage">Hello, my name is Jesse Pena and I'm a software developer. I spent 4 years in the Army as a medic and about a year as a consulting utility forester. I was unsatisfied with the work I was finding with my degree and wanted to learn how to code. I hope that the work I find coding will be emotionally and intellectually fulfilling. </p>
</div>

<div class="teamMember">
  <img src="/profilepics/corey.jpg" id = "aboutCoreyPhoto">
  <h2 id = "aboutName">Corey DeJong</h2>
  <p id = "aboutPage"> Hello, my name is Corey DeJong 

    and I am a software developer. I have 15 years of business experience,  

   primarily as leading continuous improvement initiatives. I am looking for opportunities  

   where I can utilize my business experience and my software development skills to lead teams that innovate solutions that improve the customer experience.
   </p>
</div>

 </html>
