<body>
<header>
  <h1>Truthy Video</h1>
  <video autoplay muted loop src="https://www.w3schools.com/html/mov_bbb.mp4">
  </video>
</header>
<div id="navBar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
  </ul>
</div>
</body>