<body>
<header>
  <h1>Truthy Video</h1>
  <video src= "">
  </video>
  <!-- <video loop muted autoplay>
    <source src="https://www.w3schools.com/html/mov_bbb.mp4">
  </video> -->
  <!-- <video autoplay muted loop src="../../public/images/FilmReel.mp4">
  </video> -->
  <!-- <iframe autoplay muted loop width="1250" height="703" src="https://www.youtube.com/embed/OX1P2NK4WBg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

</header>
<div id="navBar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About Us</a></li>
    <li><a href="favorites">Favorites</a></li>
  </ul>
</div>
</body>